<h1>Loading...</h1>

<script>
var Shakey = window.Shakey || {};
Shakey.characters = <%= @characters.to_json.html_safe %>;
Shakey.scene = <%= @scene.to_json(:include => { :paragraphs => {:include => :lines}}).html_safe %>;
</script>