<div class='dpl'>
  <div class='dpl-character'>
    <img src="http://www.jssgallery.org/Paintings/Ellen_Terry_a.jpg">
    <div class='dpl-actor'></div>
  </div>
</div>



<script>
var Shake = window.Shake || {};
Shake.Game.Characters.add(<%= @characters.to_json.html_safe %>);
Shake.Game.Scene = <%= @scene.to_json(:include => { :paragraphs => {:include => :lines}}).html_safe %>;
var server = new Shake.Server();
server.init();
</script>
