<div id="feed"></div>
<div id="cast"></div>
<div id="audience"></div>
<button type="button" id="go-button">Start</button>

<script>
  var Shake = window.Shake || {};
  Shake.Game.Characters.add(<%= @characters.to_json.html_safe %>);
  Shake.Game.Scene = <%= @scene.to_json(:include => { :paragraphs => {:include => :lines}}).html_safe %>;
  var server = new Shake.Server();
  server.init();

  $('#go-button').click(function() {
    server.startGame();
  });

  var feed     = new Shake.ServerViews.Feed({
    el: $('#feed')
  }).render();
  var cast     = new Shake.ServerViews.Cast({
    el: $('#cast'),
    players: Shake.Game.Players
  }).render();
  var audience = new Shake.ServerViews.Audience({
    el: $('#audience'),
    players: Shake.Game.Players
  }).render();

</script>
