<div id="feed"></div>
<div id="cast"></div>
<div id="audience"></div>

<script>
  var Shake = window.Shake || {};
  Shake.Game.Characters.add(<%= @characters.to_json.html_safe %>);
  Shake.Game.Scene = <%= @scene.to_json(:include => { :paragraphs => {:include => :lines}}).html_safe %>;
  var server = new Shake.Server();
  server.init();

  var feed = new Shake.ServerViews.Feed().render();

  $('#feed').append( feed.el );

  var cast     = new Shake.ServerViews.Cast({el: $('#cast')}).render();
  var audience = new Shake.ServerViews.Audience({
    el: $('#audience'),
    players: Shake.Game.Players
  }).render();

</script>
