<div id="feed"></div>

<div id="theatre">
  <div id="stage">
    <div id="speech-bubble">
      <ol id="lines"></ol>
    </div>

    <div id="cast"></div>
  </div>
  <div id="audience"></div>
</div>

<button type="button" id="go-button">Start</button>

<script>
  var Shake = window.Shake || {};
  Shake.Game.Characters.add(<%= @characters.to_json.html_safe %>);
  Shake.Game.Scene = <%= @scene.to_json(:include => { :paragraphs => {:include => :lines}}).html_safe %>;
  var server = new Shake.Server();
  server.init();

  var feed = new Shake.ServerViews.Feed().render();
  $('#feed').append( feed.el );

  $('#go-button').click(function() {
    server.startGame();
  });

  var cast     = new Shake.ServerViews.Cast({
    el: $('#cast'),
    players: Shake.Game.Players
  }).render();

  var audience = new Shake.ServerViews.Audience({
    el: $('#audience'),
    players: Shake.Game.Players
  }).render();
  var lines = new Shake.ServerViews.Lines({
    el: $('#lines'),
    players: Shake.Game.Players
  }).render();
</script>
