<h1>Loading...</h1>

<script>
var Shake = window.Shake || {};
Shake.Game.Characters = <%= @characters.to_json.html_safe %>;
Shake.Game.Scene = <%= @scene.to_json(:include => { :paragraphs => {:include => :lines}}).html_safe %>;
var server = new Shake.Server();
server.init();
</script>
