<div id="main"></div>

<script type="text/html" id="tmpl-enter">
  <form action="#" method="get">
    Enter your twitter username:
    <input type="text" name="screenname" id="screenname">
    <input type="submit" value="Join!">
    <p class="message"></p>
  </form>
</script>

<script type="text/html" id="tmpl-sorting">
  Sorting
</script>
