<div id="main"></div>

<script type="text/html" id="tmpl-enter">
  <form action="#" method="get">
    <input type="text" name="screenname" id="screenname">
    <input type="submit" value="Join!">
    <p class="message"></p>
  </form>
</script>

<%= javascript_include_tag "player" %>