  <h2>You are in the audience</h2>
  <div class="waiting">Waiting for game to start</div>
  <div class="vote">
    <h3>How are they doing?</h3>
    <a href="#" class="tomato">Throw a tomato</a>
    <a href="#" class="flowers">Throw some flowers</a>
  </div>