<h2>You are in the audience</h2>
<div class="waiting">Waiting for game to start</div>
<div class="vote" style="display:none">
  <h3>How are they doing?</h3>
  <a href="#" class="tomato">Throw a tomato</a>
  <a href="#" class="flowers">Throw some flowers</a>
</div>
<div class="end" style="display:none">
  <h3>Game ended!</h3>
  <p>You hurled:</p>
  <ul>
    <li><span class="veg-count">0</span> tomatoes</li>
    <li><span class="flowers-count">0</span> flowers</li>
  </ul>
</div>