  <h2 class="bar">You are playing <%= character %>!</h2>
  <div class="waiting">
  <p>Waiting for game to start</p>
  </div>
  <div class="your-turn" style="display-none"></div>
  <div class="other-turn" style="display-none">
    <h2>It's not your turn!</h2>
    <p>Don't miss your cue!</p>
  </div>
  <div class="end" style="display:none">
    <h2>Scene ended</h2>
  </div>