<h2 class="bar">Your turn!</h2>
<p>Speak your lines, <%= player.character %></p>
<ul>
  <% _.each(deliver.lines, function(line) { %>
    <li><%= line.text %></li>
  <% }); %>
</ul>
<a href="#" class="done">I'm done!</a>