<form action="#" method="get">
  <label for="screenname">Enter thy twitter username</label>
  <input type="text" name="screenname" id="screenname">
  <input type="submit" value="Join!">
  <p class="message"></p>
</form>