

body { 
  background: white;
}

#audience {
  background: black;
  border-left: 18px white solid;
  border-right: 18px white solid;
  height: 400px;
}


#stage {
  padding: 1px;
  #speech-bubble {
    background-color: white;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    margin: 20px;
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
    padding: 20px;
  }


  background-image: url(/assets/backdrop.png);
  height: 468px;
  width: 800px;
  position: relative;
  #cast {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 200px;
    .cast-member { 
      display: inline-block;
      margin: 20px;
      position: relative;
    }
  }
}

#audience {
  .audience-member {
    display: inline-block;
    margin: 10px;
    width: 80px;
    position: relative;
    .tomato, .flowers {
      position: absolute;
      right: 10px;
      bottom: 10px;
      width: 0;
    }
  }
}

#cast {
  .cast-member {
    position: relative;
    width: 100px;
    height: 100px;
    
    .avatar {
      height: 100%;
      width: 100%;
    }

    .decoration {
      left: 0;
      position: absolute;
      top: 0;
      width: 20px;
    }
    .decoration.splat {
      width: 30px;
    }
  }
}

#go-button { 
  position: absolute;
  top: 0;
  left: 0;
}

#theatre {
  width: 800px;
  margin-right: 320px;
}
#feed {
  background-color: brown;
  height: 100%;
  width: 300px;
  position: absolute;
  top: 0;
  right: 0;
}
