//Dashboard current player
.dpl {
  .dpl-character {
    position: relative;
  }
  .dpl-actor {
    position: absolute;
    top: 110px;
    left: 190px;
    img {
      width: 100px;
      height: 100px;
      -webkit-border-radius: 100px;
      border-radius: 100px;
    }
  }
}
